div.field-imagecropper div span { text-align: left; }
div.field-imagecropper div.group { min-height: 30px; }
div.field-imagecropper div.label p.help { margin: 0; }
div.field-imagecropper div.invalid span { color: #222; }


/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:430px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:0;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#simplemodal-container #imagecropper_modal_options { margin: 0; height: 30px; }
