/* @group general */
.field-imagecropper div.frame label {
	margin-top: 0;
}
	.field-imagecropper div.frame label p {
		margin: 0;
	}
	.field-imagecropper div.frame ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		.field-imagecropper div.frame ul li {
			display: inline;
			margin-right: 1em;
		}

	.field-imagecropper div.frame fieldset.imagecropper_preview {
		border-top: 1px solid #e4e4de;
		display: none;
		margin: 8px 0 0 0;
	}
		.field-imagecropper div.frame fieldset.imagecropper_preview .imagecropper_scale_slider {
			display: block;
			margin-top: 0.6em;
		}
		.field-imagecropper div.frame fieldset.imagecropper_preview .column {
			padding-left: 15px;
		}
		.field-imagecropper div.frame fieldset.imagecropper_preview .help {
			margin: 0.5em 0;
		}

.field-imagecropper .invalid div.frame {
	margin-bottom: 0;
	background-color: #d42;
	border: 1px solid #c31;
	border-bottom-width: 0;
}
	.field-imagecropper .invalid div.frame .group label {
		border-width: 0;
	}
	.field-imagecropper .invalid div.frame fieldset.imagecropper_preview .help {
		color: #fff;
	}
/* @end */

/* @group Subsection Manager */
body.inline.subsection form .field-imagecropper fieldset {
	padding: 0.75em 0;
	border-top-color: #616057;
	border-bottom-width: 0 !important;
}

body.inline.subsection form .field-imagecropper div.frame {
	border: 1px solid #616057;
	color: #fff;
	background: #494949;
}

body.inline.subsection form .field-imagecropper .invalid div.frame {
	margin-bottom: 0;
	background-color: #d42;
	border: 1px solid #c31;
	border-bottom-width: 0;
}
/* @end */